body, html, p, a, video {
    margin: 0; 
    padding: 0px;  
}

#video-wrapper {
    position: relative;
    width: 48%;
    margin: 0px auto;
}

.hidden {
    display: none;
} 

.highlight {
    position: absolute;
    background-color: rgba(245, 151, 39, 0.39);
}